
body {
    line-height: 1.6em;
    background-color: #FFF9E7;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: #CA4624;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;
    text-align: left;
    text-transform: none;  
    background-repeat: none; 
}
h1 {
    font-size: 4em;
    color: #CA4624;
    width: 80%;
    height: 90%;
}
a:link {
    background-color: #E86E1C;
    color: #966DCC;
} 
a:visited {
    background-color: #1C66E8;
    color: #1CE8DE;
}
a:hover {
    background-color: #BCE81C;
    color: #CF1CE8;
}
* {margin: 10; padding: 5;}
    #wrapper {
        width: 80%;
        margin: auto;
}
img {
        position: relative;
        width: 400px;

        border: 3px solid #73AD21;
      
